<h3>以下の内容で、送信する。</h3>

<%= form_for(@tweet) do |f| %>
    <%= f.hidden_field :content %>

    <p>メッセージ：<%= @tweet.content %></p>
    <br>
    <%= f.submit "送信する" %>
<% end %>

<%= form_for(@tweet, url: new_tweet_path, method: 'get') do |f| %>
    <%= f.hidden_field :content %>
    <%= f.submit "もどる", name: 'back' %>
<% end %>
